* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #282828, #483d8b);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;


}

.board {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #f2f3f4;
    padding: 5px;
    margin-top: 10px;
}


.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 500px;
    max-width: auto;
    padding: 13px;
    margin: 15px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1em;
}

.timer {
    align-items: center;
    font-size: 1em;
}


.cell {
    height: 40px;
    width: 40px;
    background-color: #cecaca;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.cell:hover {
    background: #bdc3c7;
}

.hidden {
    color: transparent;
    background-color: #8e8f8f;
}

.emoji {
    font-size: 1em;
    border-radius: 8px;
    background: linear-gradient(to right, #282828, #483d8b);
    border-color: white;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.diff {
    border-color: white;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.diff:hover {
    background: #2980b9;
}

.diff-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.safe-click-area {
    text-align: center;
}

.safebtn {
    background: #66f1f8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    border-color: white;
    transition: all 0.3s ease;
}

.safe-click {
    background-color: #66f1f8;
}

.safebtn:hover {
    background: #67c3c8;
}

.safetext {
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 150px;
    max-width: auto;
    padding: 6px;
    margin: 6px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 0.7em;
}


.light {
    background: rgb(240, 240, 143);
}


.hint-cells {
    background: orange;
}

.hint {
    font-size: 1.1em;
    padding: 4px 12px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-color: white;
}

.hinttext {
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 110px;
    max-width: auto;
    padding: 6px;
    margin: 6px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 0.7em;

}

.undo-btn {
    font-size: 1em;
    border-radius: 8px;
    background: linear-gradient(to right, #282828, #483d8b);
    border-color: white;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.exterminator {
    font-size: 1em;
    border-radius: 8px;
    background: linear-gradient(to right, #282828, #483d8b);
    border-color: white;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.darkmode-area {
    font-size: 0.7em;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    font-size: 10px;
    padding-top: 30px;
}